.card {
    
   
    
    border-radius: 8px;
    animation: normal;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
    }

    img {width: 305px;
        
        height: 340px;
        border-radius: 8px 8px 0 0;
      
    }



    .information {
        padding: 6px;

        .text {


            .info {
                color: var(--text-color-1, #272727);
                font-family: "Noto Sans Georgian";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 125% */
                margin-bottom: 4px;
            }

        }

        .location {

            /* 125% */
            .Oldprice {
                color: var(--text-color-2, #656666);
                font-family: "Noto Sans Georgian";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 111.111% */
                text-decoration-line: line-through;
                padding-right: 20px;
            }

            .Newprice {
                color: var(--primary, #0AC2A1);
                font-family: "Noto Sans Georgian";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 111.111% */
            }
        }
    }
}