@if (tour) {
    <div class="card" [routerLink]="['/tour',tour.id]" queryParamsHandling="preserve" >
        <img src="{{tour.img}}" alt="" />
      <div class="information">
        <div class="text flex-column-space-between ">
          <span class="info">{{tour.title}}</span>
        </div>
        <div class="location">
          <span class="Oldprice">
          {{tour.Oldprice}}
          </span>
          <span class="Newprice">{{tour.Newprice}}</span>
        </div>
      </div>
    </div>
    }