<div class="title">პაროლის შეცვლა</div>
<div class="container flex-column  ">
    <div class="flex-column ">
    <label for="oldpassword " class="text">მიმდინარე პაროლი:</label>
    <input type="password" id="#oldpassword" placeholder="შეიყვანე პაროლი" />
  </div>
  <div class="flex-column ">
    <label for="newpassword " class="text">ახალი პაროლი:</label>
    <input type="password" id="#newpassword" placeholder="შეიყვანე მინიმუმ 8 სიმბოლო"/>
  </div>
  <div class="flex-column ">
    <label for="confirmpassword " class="text">დაადასტურე ახალი პაროლი:</label>
    <input type="password" id="#confirmpassword" placeholder="გაიმეორე ახალი პაროლი"/>
  </div>
  <button>შენახვა</button>
</div>

