<div class="title">პაროლის შეცვლა</div>
<div class="container flex-column">
  <form [formGroup]="passwordform"  (submit)="changepassword()">
  <div class="flex-column">
    <label for="oldpassword " class="text">მიმდინარე პაროლი:</label>
    <input type="password" id="#oldpassword" placeholder="შეიყვანე პაროლი" formControlName="oldpassword" />
  </div>
  <div class="flex-column">
    <label for="newpassword " class="text">ახალი პაროლი:</label>
    <input
      type="password"
      id="#newpassword"
      placeholder="შეიყვანე მინიმუმ 8 სიმბოლო"
    
      formControlName="newpassword"
        />
  </div>
  <div class="flex-column">
    <label for="confirmpassword " class="text">დაადასტურე ახალი პაროლი:</label>
    <input
      type="password"
      id="#confirmpassword"
      placeholder="გაიმეორე ახალი პაროლი"
      formControlName="confirmpassword"
    />
  </div>
  <button type="submit">შენახვა</button>
</form>
</div>
