<div class="container flex-row-center flex-column">
  <div class="title">ბარათით გადახდა</div>
  <div class="card">
    <div class="amount flex-column-space-between">
      <span>გადასახდელი თანხა:</span>
      <span class="c-27">{{tourlist.Newprice}} ₾</span>
    </div>
<form [formGroup]="cardForm" (submit)="checkout()">
    <div class="inputs flex-column ">
      <label for="name">ბარათის სახელი</label>
      <span>
        <input type="text" placeholder="მფლობელის სახელი" id="name" formControlName="cardname"/>
      </span>
    </div>
    <div class="inputs flex-column">
      <label for="number">ბარათის ნომერი</label>
      <span>
        <input type="text" placeholder="ბარათის ნომერი" id="number" formControlName="cardnumber"/>
      </span>
    </div>
    <div class="cvv flex-row ">
      <div class="flex-column left">
        <label for="Expirydate">მოქმედების ვადა</label>
       <input type="text" placeholder="MM/YY" id="Expirydate " formControlName="cardexpirationdate"/>
      </div>
      <div class="flex-column right">
        <label for="CVC">CVC/CVV</label>
          <input type="text" placeholder="CVC" id="Expirydate " formControlName="cardcvv"/>
      </div>
    </div>
    <div class="flex-column-center  checkbox">
        <input type="checkbox" id="scales" name="scales" checked formArrayName="saved"/>
         <label for="scales">ბარათის დამახსოვრება</label>
    </div>
    <button class="regist-button" type="submit">გადახდა</button>
</form>

  </div>
</div>
