.container {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 202px;

    .title {
        color: #272727;
        font-family: "Noto Sans Georgian";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 40px;
    }


    .card {
        display: inline-flex;
        padding: 64px 72px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        color: #272727;
        margin-bottom: 136px;

        .amount {
            width: 534px;
            padding-left: 12px;
            padding-right: 12px;
            color: var(--text-color-1, #272727);
            font-family: "Noto Sans Georgian";
            font-size: 16px;
            font-style: normal;
            text-align: left;
            font-weight: 600;
            line-height: 24px;
            padding-bottom: 32px;
            border-bottom: 1px solid #BEC3CA;
            margin-bottom: 32px;

            .c-27 {
                color: rgba(10, 194, 161, 0.80);
            }
        }

        input {
            height: 48px;
            border-radius: 8px;
            padding: 14px 16px;
            align-items: center;
            border: 1px solid var(--text-color-2, #656666);
            background: none;
            font-family: "Noto Sans Georgian";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;

            &:focus {
                outline: none;
            }
        }

        label {
            color: var(--text-color-1, #272727);
            font-family: "Noto Sans Georgian";
            font-size: 14px;
            font-style: normal;
            text-align: left;
            font-weight: 600;
            line-height: 19px;
            margin-bottom: 8px;
        }

        .inputs {
            margin-bottom: 16px;

            input {
                width: 510px;
            }

        }

        .cvv {
            margin-bottom: 16px;

            .left {
                margin-right: 8px;
            }

            .right {
                margin-left: 8px;
            }

            input {
                width: 247px;
            }
        }

        .checkbox {
            margin-bottom: 24px;

            input {
                width: 16px;
                height: 16px;
                filter: hue-rotate(310deg);
                margin-right: 8px;
            }

            label {
                color: var(--text-color-1, #272727);
                font-family: "Noto Sans Georgian";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
            }
        }

        button {
            width: 510px;
            height: 48px;
            border: none;
            border-radius: 8px;
            font-family: "Noto Sans Georgian";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            cursor: pointer;
            background-color: rgba(10, 194, 161, 0.80);
            color: #FFF;
            margin-bottom: 32px;
        }

    }
}