<div class="container flex-row-center flex-column">
  <div class="card">
    <div class="amount flex-column-space-between">
      <span>გადასახდელი თანხა:</span>
      <span class="c-27">{{ tourlist.Newprice }} ₾</span>
    </div>
    <div *ngIf="cardlist" class="credit ">
      <div class="credit-card flex-row flex-row-center" *ngFor="let card of cardlist; let i =index" (click)="usemycard(i)">
          <img
            src="https://static.vecteezy.com/system/resources/previews/009/384/393/original/credit-card-clipart-design-illustration-free-png.png"
            alt=""
          />
       
        <div class="flex-column">
          <span class="mb-10">ჩემი ბარათი</span>
        <span>MC\VISA CARD</span>
        </div>
      </div>
    </div>
    <form [formGroup]="cardForm" (submit)="checkout()">
      <div class="inputs flex-column">
        <label for="name">ბარათის სახელი</label>
        <span>
          <input
            type="text"
            placeholder="მფლობელის სახელი"
            id="name"
            formControlName="cardname"
          />
        </span>
      </div>
      <div class="inputs flex-column">
        <label for="number">ბარათის ნომერი</label>
        <span>
          <input
            type="text"
            placeholder="1234 5678 9012 3456"
            id="number"
            formControlName="cardnumber"
          />
        </span>
      </div>
      <div class="cvv flex-row">
        <div class="flex-column left">
          <label for="Expirydate">მოქმედების ვადა</label>
          <input
            type="text"
            placeholder="MM/YY"
            id="Expirydate "
            formControlName="cardexpirationdate"
          />
        </div>
        <div class="flex-column right">
          <label for="CVC">CVC/CVV</label>
          <input
            type="text"
            placeholder="CVC"
            id="Expirydate "
            formControlName="cardcvv"
          />
        </div>
      </div>
      <div class="flex-column-center checkbox">
        <input
          type="checkbox"
          id="scales"
          name="scales"
          checked
          formControlName="saved"
        
        />
        <label for="scales">ბარათის დამახსოვრება</label>
      </div>
      <button class="regist-button" type="submit">გადახდა</button>
    </form>
  </div>
</div>
<div *ngIf="error" class="error">
  მოხდა გაუთვალისწინებელი შეცდომა გთხოვთ სცადოთ თავიდან
</div>
