<div class="container ">
  <div class="grid flex-row ">
    <div >
      <form [formGroup]="filterForm" (submit)="Search()">
        <div class="flex-column">
          <div
            id="list1"
            class="dropdown-check-list"
            [ngClass]="isActive2 ? 'visible' : ''"
          >
            <span
              class="anchor flex-row-center flex-column-space-between"
              (click)="call(2)"
            >
              <span>ფასი</span>
              <span *ngIf="isActive2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M11 6.5L6 1.5L1 6.5" stroke="#272727" />
                </svg>
              </span>
              <span *ngIf="!isActive2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M1 0.5L6 5.5L11 0.5" stroke="#272727" />
                </svg>
              </span>
            </span>
            <ul class="items">
              <li class="flex-row-center">
                <input type="checkbox" formControlName="1" /><span
                  class="flex-row-center"
                  >0-100ლ</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="2" /><span
                  class="flex-row-center"
                  >100-200ლ</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="3" /><span
                  class="flex-row-center"
                  >200-300ლ</span
                >
              </li>

              <li class="flex-row-center">
                <input type="checkbox" formControlName="4" /><span
                  class="flex-row-center"
                  >300ლ-ზე მეტი</span
                >
              </li>
            </ul>
          </div>
          <div
            id="list1"
            class="dropdown-check-list"
            [ngClass]="isActive3 ? 'visible' : ''"
          >
            <span
              class="anchor flex-row-center flex-column-space-between"
              (click)="call(3)"
            >
              <span>ლოკაცია</span>
              <span *ngIf="isActive3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M11 6.5L6 1.5L1 6.5" stroke="#272727" />
                </svg>
              </span>
              <span *ngIf="!isActive3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M1 0.5L6 5.5L11 0.5" stroke="#272727" />
                </svg>
              </span>
            </span>
            <ul class="items">
              <li class="flex-row-center">
                <input type="checkbox" formControlName="5" /><span
                  class="flex-row-center"
                  >იმერეთი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="6" /><span
                  class="flex-row-center"
                  >კახეთი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="7" /><span
                  class="flex-row-center"
                  >აჭარა</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="8" /><span
                  class="flex-row-center"
                  >სვანეთი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="9" /><span
                  class="flex-row-center"
                  >მცხეთა-მთიანეთი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="10" /><span
                  class="flex-row-center"
                  >შიდა ქართლი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="11" /><span
                  class="flex-row-center"
                  >სამცხე-ჯავახეთი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="12" /><span
                  class="flex-row-center"
                  >გურია</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="13" /><span
                  class="flex-row-center"
                  >რაჭა</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="14" /><span
                  class="flex-row-center"
                  >თბილისი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="15" /><span
                  class="flex-row-center"
                  >სამეგრელო</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="16" /><span
                  class="flex-row-center"
                  >ლეჩხუმი</span
                >
              </li>
            </ul>
          </div>
          <div
            id="list1"
            class="dropdown-check-list"
            [ngClass]="isActive4 ? 'visible' : ''"
          >
            <span
              class="anchor flex-row-center flex-column-space-between"
              (click)="call(4)"
            >
              <span>კატეგორია</span>
              <span *ngIf="isActive4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M11 6.5L6 1.5L1 6.5" stroke="#272727" />
                </svg>
              </span>
              <span *ngIf="!isActive4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M1 0.5L6 5.5L11 0.5" stroke="#272727" />
                </svg>
              </span>
            </span>
            <ul class="items">
              <li class="flex-row-center">
                <input type="checkbox" formControlName="17" /><span
                  class="flex-row-center"
                  >ტბა</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="18" /><span
                  class="flex-row-center"
                  >ჩანჩქერი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="19" /><span
                  class="flex-row-center"
                  >კანიონი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="20" /><span
                  class="flex-row-center"
                  >მთა</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="21" /><span
                  class="flex-row-center"
                  >უღელტეხილი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="22" /><span
                  class="flex-row-center"
                  >მღვიმე</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="23" /><span
                  class="flex-row-center"
                  >ხეობა</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="24" /><span
                  class="flex-row-center"
                  >ეროვნული პარკი</span
                >
              </li>
            </ul>
          </div>
          <div
            id="list1"
            class="dropdown-check-list"
            [ngClass]="isActive5 ? 'visible' : ''"
          >
            <span
              class="anchor flex-row-center flex-column-space-between"
              (click)="call(5)"
            >
              <span>ხანგრძლივობა</span>
              <span *ngIf="isActive5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M11 6.5L6 1.5L1 6.5" stroke="#272727" />
                </svg>
              </span>
              <span *ngIf="!isActive5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M1 0.5L6 5.5L11 0.5" stroke="#272727" />
                </svg>
              </span>
            </span>
            <ul class="items">
              <li class="flex-row-center">
                <input type="checkbox" formControlName="25" /><span
                  class="flex-row-center"
                  >1 დღე</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="26" /><span
                  class="flex-row-center"
                  >2 დღე</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="27" /><span
                  class="flex-row-center"
                  >3 დღე</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="28" /><span
                  class="flex-row-center"
                  >3 დღეზე მეტი</span
                >
              </li>
            </ul>
          </div>
          <div
            id="list1"
            class="dropdown-check-list"
            [ngClass]="isActive6 ? 'visible' : ''"
          >
            <span
              class="anchor flex-row-center flex-column-space-between"
              (click)="call(6)"
            >
              <span>სირთულე</span>
              <span *ngIf="isActive6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M11 6.5L6 1.5L1 6.5" stroke="#272727" />
                </svg>
              </span>
              <span *ngIf="!isActive6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path d="M1 0.5L6 5.5L11 0.5" stroke="#272727" />
                </svg>
              </span>
            </span>
            <ul class="items">
              <li class="flex-row-center">
                <input type="checkbox" formControlName="29" /><span
                  class="flex-row-center"
                  >მარტივი</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="30" /><span
                  class="flex-row-center"
                  >საშუალო</span
                >
              </li>
              <li class="flex-row-center">
                <input type="checkbox" formControlName="31" /><span
                  class="flex-row-center"
                  >რთული</span
                >
              </li>
            </ul>
          </div>
        </div>
        <button class="clear flex-center bc-green" type="submit">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
            >
              <path
                d="M14.7556 16L9.15556 10.4C8.71111 10.7556 8.2 11.037 7.62222 11.2444C7.04444 11.4519 6.42963 11.5556 5.77778 11.5556C4.16296 11.5556 2.79644 10.9961 1.67822 9.87733C0.56 8.75852 0.000592593 7.392 0 5.77778C0 4.16296 0.559407 2.79644 1.67822 1.67822C2.79704 0.56 4.16356 0.000592593 5.77778 0C7.39259 0 8.75941 0.559407 9.87822 1.67822C10.997 2.79704 11.5561 4.16356 11.5556 5.77778C11.5556 6.42963 11.4519 7.04444 11.2444 7.62222C11.037 8.2 10.7556 8.71111 10.4 9.15556L16 14.7556L14.7556 16ZM5.77778 9.77778C6.88889 9.77778 7.83348 9.38904 8.61156 8.61156C9.38963 7.83407 9.77837 6.88948 9.77778 5.77778C9.77778 4.66667 9.38904 3.72237 8.61156 2.94489C7.83407 2.16741 6.88948 1.77837 5.77778 1.77778C4.66667 1.77778 3.72237 2.16682 2.94489 2.94489C2.16741 3.72296 1.77837 4.66726 1.77778 5.77778C1.77778 6.88889 2.16682 7.83348 2.94489 8.61156C3.72296 9.38963 4.66726 9.77837 5.77778 9.77778Z"
                fill="white"
              />
            </svg>
          </span>
          <span>ძიება</span>
        </button>
        <div class="clear tc-black flex-center" (click)="clear()">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="17"
              viewBox="0 0 18 17"
              fill="none"
            >
              <path
                d="M8.19692 14.6809L7.84178 16C7.84178 16 9.86191 15.5431 10.7336 14.6809C11.0805 14.3378 11.3144 13.7837 11.4634 13.303C11.6547 12.6858 11.7399 12.032 11.6374 11.3941C11.5562 10.8889 11.3619 10.3169 10.9112 10.0275C9.99798 9.44122 9.51601 9.55115 8.70426 9.84428C7.89251 10.1374 6.30636 12.2285 4.08744 12.4336C3.07678 12.527 1.5 12.1893 1.5 12.1893L3.52937 14.2901L5.71094 13.6061L3.78304 14.6809L4.49332 15.0718L6.57342 13.8504L5.15286 15.316L6.11681 15.7557L7.33443 14.6809L6.57342 16H7.08076L8.19692 14.6809Z"
                stroke="#222222"
                stroke-width="0.5"
              />
              <path
                d="M16.2678 0.707744C16.3792 0.527126 16.6182 0.465257 16.8032 0.56915C16.9921 0.675294 17.0518 0.913161 16.9353 1.09615L11.2067 10.0955C11.1816 10.1349 11.1264 10.1435 11.091 10.1134C10.9843 10.0228 10.8673 9.94428 10.7421 9.87937L10.6423 9.82764L16.2678 0.707744Z"
                stroke="#222222"
                stroke-width="0.5"
              />
              <path
                d="M13.2232 14.8763C13.2232 15.1612 12.9807 15.408 12.6615 15.408C12.3423 15.408 12.0997 15.1612 12.0997 14.8763C12.0997 14.5915 12.3423 14.3447 12.6615 14.3447C12.9807 14.3447 13.2232 14.5915 13.2232 14.8763Z"
                stroke="#222222"
                stroke-width="0.5"
              />
              <path
                d="M14.4916 13.2641C14.4916 13.4545 14.3286 13.6248 14.1074 13.6248C13.8863 13.6248 13.7233 13.4545 13.7233 13.2641C13.7233 13.0737 13.8863 12.9034 14.1074 12.9034C14.3286 12.9034 14.4916 13.0737 14.4916 13.2641Z"
                stroke="#222222"
                stroke-width="0.5"
              />
              <mask id="path-5-inside-1_957_5742" fill="white">
                <ellipse cx="14.97" cy="14.6076" rx="0.380507" ry="0.366414" />
              </mask>
              <path
                d="M14.8505 14.6076C14.8505 14.5162 14.9219 14.474 14.97 14.474V15.474C15.4383 15.474 15.8505 15.1037 15.8505 14.6076H14.8505ZM14.97 14.474C15.018 14.474 15.0895 14.5162 15.0895 14.6076H14.0895C14.0895 15.1037 14.5016 15.474 14.97 15.474V14.474ZM15.0895 14.6076C15.0895 14.699 15.018 14.7412 14.97 14.7412V13.7412C14.5016 13.7412 14.0895 14.1115 14.0895 14.6076H15.0895ZM14.97 14.7412C14.9219 14.7412 14.8505 14.699 14.8505 14.6076H15.8505C15.8505 14.1115 15.4383 13.7412 14.97 13.7412V14.7412Z"
                fill="#222222"
                mask="url(#path-5-inside-1_957_5742)"
              /></svg
          ></span>
          <span>გასუფთავება</span>
        </div>
      </form>
    </div>
    <div class="list">
      <ng-container *ngFor="let tour of tourlist">
        <app-tour-card [tour]="tour"> </app-tour-card>
      </ng-container>
    </div>
  </div>
</div>
