.container{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 202px;
    margin-bottom: 136px;
    .text{
       
        img{
            width: 35%;
            height: 35%;
        }
    }
}