<div class="container">
    <div class="text">
  <div class="name">ხელშეკრულებაზე უარის თქმის შედეგები</div>
  <div class="detailed">
    ხელშეკრულებაზე უარის თქმის შედეგად ქარწყლდება მხარეების მიერ დისტანციური
    ხელშეკრულებით ან სარეწის გარეთ დადებული ხელშეკრულებით ნაკისრი ვალდებულებები,
    ხოლო ის, რაც მხარეებმა მისი შესრულებით მიიღეს, მათ უბრუნდებათ. 2.
    ხელშეკრულებაზე უარის თქმის შემთხვევაში კომპანია ვალდებულია:
    <ul>
      <li>
        მომხმარებელს გადახდილი თანხა, აგრეთვე არსებობის შემთხვევაში −
        მიწოდების ხარჯის ასანაზღაურებლად გადახდილი თანხა დაუბრუნოს სრულად,
        გაჭიანურების გარეშე, ხელშეკრულებაზე უარის თქმის შესახებ შეტყობინების
        მიღებიდან არაუგვიანეს 14 კალენდარული დღისა. კომპანია ვალდებული არ არის,
        მომხმარებელს დაუბრუნოს იმ დამატებითი ხარჯის ასანაზღაურებლად გადახდილი
        თანხა, რომელიც დაკავშირებულია მომხმარებლის მიერ არასტანდარტული ან
        კომპანია მიერ შეთავაზებული მიწოდების მომსახურებაზე უფრო ძვირი მიწოდების
        მომსახურების არჩევასთან;
      </li>
      <li>
        თანხა აანაზღაუროს გადახდის იმავე საშუალებებით, რომლებიც მომხმარებელმა
        გამოიყენა, გარდა იმ შემთხვევისა, როდესაც მომხმარებელი გადახდის სხვა
        საშუალების გამოყენებაზე თანხმობას განაცხადებს და მას დამატებითი ხარჯი არ
        წარმოეშობა.
      </li>
    </ul>
     ნასყიდობის ხელშეკრულებაზე უარის თქმის შემთხვევაში კომპანია უფლება აქვს,
      უარი თქვას თანხის დაბრუნებაზე მანამ, სანამ საქონელს არ დაიბრუნებს ან
      მომხმარებლისგან არ მიიღებს საქონლის გაგზავნის დამადასტურებელ დოკუმენტს,
      იმის მიხედვით, რომელიც უფრო ადრე განხორციელდება, გარდა იმ შემთხვევისა,
      როდესაც კომპანია თავად იკისრა საქონლის უკან წაღება. ხელშეკრულებაზე უარის
      თქმის შემთხვევაში მომხმარებელი ვალდებულია:
    <ul>
     
      <li>
         კომპანია ან მის მიერ განსაზღვრულ მესამე პირს დაუბრუნოს საქონელი
        ხელშეკრულებაზე უარის თქმის შესახებ შეტყობინების გაგზავნის შემდეგ
        დაუყოვნებლივ, მაგრამ არაუგვიანეს 7 კალენდარული დღისა, გარდა იმ
        შემთხვევისა, როდესაც კომპანია თავად იკისრა საქონლის უკან წაღება;
      </li>
      <li>
         გასწიოს მხოლოდ საქონლის დაბრუნებასთან დაკავშირებული პირდაპირი
        (უშუალო) ხარჯი, გარდა იმ შემთხვევისა, როდესაც კომპანია თავად იკისრა ამ
        ხარჯის გაწევა ან მომხმარებელს არ მიაწოდა ინფორმაცია იმის შესახებ, რომ
        საქონლის დაბრუნების შემთხვევაში ეს ხარჯი წარმოიშობოდა. სარეწის გარეთ
        დადებული ხელშეკრულების შემთხვევაში, როდესაც საქონელი მომხმარებელს სახლში
        მიეწოდება, კომპანია ვალდებულია საქონელი საკუთარი ხარჯით წაიღოს უკან, თუ,
        საქონლის ბუნებიდან გამომდინარე, მისი ფოსტით გაგზავნა შეუძლებელია.
      </li>
    </ul>
  </div>
</div>
</div>
