<div class="container">
  <div class="text">
    <div class="name">ჩვენ შესახებ</div>
    <div class="detailed">
      <div class="mb-5">
        2 წელია ოპერირებს ტურების ბაზარზე, ამ წლების განმალობაში კომპანიამ
        წარმატებით დაიმკვიდრა ადგილი ამ სფეროში. ჩვენი კომპანია ტურებს
        მომხმარებელს საუკეთესო ფასად სთავაზობს საქართველოში.
      </div>
      <div class="mb-5">
        კომპანიამ ბაზარზე 2022 წლის ოქტომბერში ერთი მაღაზიით შემოვიდა,
        დღესდღეობით კი 17 ფილიალს და 200-ზე მეტ თანამშრომელს აერთიანებს ქვეყნის
        მასშტაბით.
      </div>
      <div class="mb-5">
        კომპანია მომხმარებელს პროდუქციას ყველაზე დაბალ ფასად სთავაზობს
        საქართველოში.
      </div>
      <div class="mb-5">
        აღსანიშნავია, ის ფაქტი რომ კომპანია 100% ქართული ინვესტიციაა და 12 წლის
        წინ, ახალგაზრდა ანტერპრენერების სტარტაპი იყო, რომელიც წლების მანძილზე
        მსხვილ საცალო ქსელად ჩამოყალიბდა.
      </div>
      <div class="mb-5">
        ორ ათწლეულზე მეტია ბაზრის უპირობო ლიდერია, რასაც მრავალფეროვან პროდუქციასა და ფართო ასორტიმენტთან ერთად სიახლეებისკენ სწრაფვაც განაპირობებს
      </div>
      <div>
       მოგზაურობის კონცეფციის სრულყოფილი, არის ის, რაც ბრენდს კონკურენტებისგან განასხვავებს და გვაძლევს საშუალებას ნებისმიერი გემოვნების მომხმარებელს შევთავაზოთ  ყველაფერი, კომფორტულად მოგზაურობისთვის
      </div>
    </div>
  </div>
</div>
