<div class="container">
    <div class="title">პირადი ინფორმაცია</div>
    <div class="info ">
        <div class="flex-column ">
            <label for="name">სახელი</label>
            <input type="text" id="#name" placeholder="სახელი">
        </div>
        <div class="flex-column " >
            <label for="lastname">გვარი</label>
            <input type="text" id="#lastname" placeholder="გვარი">
        </div>
        <div class="flex-column ">
            <label for="phone">ტელეფონის ნომერი</label>
            <input type="text" id="#phone" placeholder="ტელეფონის ნომერი">
        </div>

        <div>
            <button>შენახვა</button>
        </div>
    </div>
</div>
