<div class="container flex-row-center flex-column">
    <div class="card">
<div><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
    <rect width="48" height="48" rx="24" fill="#D4EADD"/>
    <path d="M42 13.9999L18 37.9999L7 26.9999L9.82 24.1799L18 32.3399L39.18 11.1799L42 13.9999Z" fill="#63A57C"/>
    </svg>
</div>
<div class="text">
    გადახდა შესრულებულია!
</div>
<button class="top-button" routerLink="/user-page/my-tour" queryParamsHandling="preserve">გადახედე შენს მოგზაურობას</button>
<button class="bot-button" routerLink="/" queryParamsHandling="preserve">
    მთავარ გვერდზე დაბრუნება
</button>
</div>
</div>