<div class="container">
  <div class="text">
    <div class="inf">როგორ ვიყენებთ თქვენს პერსონალურ მონაცემებს</div>
    <div class="detailed">
      <div class="mb-5">
        ჩვენი მიზანია, გაგაცნოთ, როგორ ამუშავებს და იყენებს ჩვენი კომპანია
        თქვენს პერსონალურ მონაცემებს.
      </div>
      წინამდებარე დოკუმენტში განვმარტავთ პრინციპებს, რომლითაც ვხელმძღვანელობთ
      თქვენი პერსონალური მონაცამების დამუშავებისას, ასევე განვიხილავთ თუ როგორ
      უზრუნველყოფს კანონმდებლობა თქვენი უფლებების დაცვას. ასევე დეტალურად
      მოგაწვდით ინფორმაციას იმის შესახებ თუ რა ტიპის პერსონალურ მონაცემებს
      აგროვებს ბანკი თქვენ შესახებ მაშინ როდესაც ხდებით ჩვენი კლიენტი და როგორ
      ხდება ამ მონაცემების გამოყენება პირდაპირი მარკეტინგის მიზნებისთვის.
      აგრეთვე, როგორ მუშავდება მონაცემები საქართველოს კანონმდებლობისა და
      მონაცემთა დაცვის ზოგადი რეგლამენტის (GDPR) შესაბამისად.
    </div>
    <div class="inf mt-10">ჩვენ, ვაცხადებთ რომ:</div>
    <div class="detailed">
      <ul>
        <li>დავიცავთ თქვენი მონაცემების კონფიდენციალურობას;</li>
        <li>არ გამოვიყენებთ თქვენს მონაცემებს უკანონოდ;</li>
        <li>
          თქვენი მოთხოვნის შესაბამისად, მოგაწვდით სრულ და დეტალურ ინფორმაციას
          თქვენი პერსონალური მონაცემების დამუშავებასთან დაკავშირებით
        </li>
      </ul>
    </div>
    <div class="inf">როგორ გიცავთ კანონი</div>
    <div class="detailed">
      <div class="mb-5">
        თქვენი უფლებები დაცულია საქართველოს კანონმდებლობითა და და მონაცემთა
        დაცვის ზოგადი რეგლამენტის (GDPR) შესაბამისად. შესაბამისად, ზემოაღნიშნული
        რეგულაციების საფუძველზე თქვენ უფლება გაქვთ, მოგვთხოვოთ ინფორმაცია იმის
        შესახებ, თუ როგორ ვიყენებთ თქვენს პერსონალურ მონაცემებს.
      </div>
      <div class="mb-5">
        თქვენი მოთხოვნის შესაბამისად, ბანკი ვალდებული იქნება, მოგაწოდოთ
        მოთხოვნილი ინფორმაცია.
      </div>
      <div class="mb-5">
        ჩვენ უფლება გვაქვს, გამოვიყენოთ თქვენი პერსონალური მონაცემები მხოლოდ იმ
        შემთხვევაში, თუ არებობს კონკრეტული სახელშეკრულებო ან/და კანონისმიერი
        საფუძველი.
      </div>

      <div class="mb-5">
        მნიშვნელოვანია, რომ ბანკის მიერ თქვენი პერსონალური მონაცემების
        დამუშავება არ არის თქვენთვის ზიანის მომტანი.
      </div>
      <div class="mb-5">
        არასრულწლოვნის პერსონალური მონაცემების დამუშავება დასაშვებია მხოლოდ
        საქართველოს კანონმდებლობისა და არასრულწლოვნის საუკეთესო ინტერესების
        გათვალისწინებით.
      </div>
      <div class="mb-5">
        წინამდებარე ცხრილშიწარმოდგენილია თქვენი პერსონალური მონაცემების
        დამუშავების მიზანი ყოველ კონკრეტულ შემთხვევაში შესაბამისი სამართლებრივ
        საფუძვლებზე მითითებით
      </div>
    </div>
  </div>
</div>
