.card {
  
    width: 292px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .picture {
        position: relative;
        margin-bottom: 12px;

        img {
            width: 100%;
            height: 286px;
            border-radius: 4px 4px 0 0;
        }

        .icon {
            cursor: pointer;
            svg {
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }
    }

    .info{
        padding-bottom: 8px;

        svg {
            margin-left: 8px;
            margin-right: 8px;
        }

        .first {
            color: var(--text-color-1, #272727);
            font-family: "Noto Sans Georgian";
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 133.333% */
        }

        .second {
            color: #717171;

            font-family: "Noto Sans Georgian";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 142.857% */
        }

        .third {
            margin-left: 8px;
            color: var(--text-color-1, #272727);
            font-family: "Noto Sans Georgian";
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 19px;
            /* 126.667% */
        }
    }

&:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}