::ng-deep * {
      
    margin-top: 0;
    padding-top: 0;
 }
 body{
    margin-top: 0;
    padding-top: 0;
     background-color: #EAEEF4;
 }
 @import './app/shared/reset';
 @import './app/shared/shared';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
